<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDveoH5yhT_OBlJC_mKYebndLpSFR_sG-o</string>
	<key>GCM_SENDER_ID</key>
	<string>600817432188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ferxi.ToDoApp-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>ferxi-todo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ferxi-todo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600817432188:ios:17b1dc8e4b379894c0bbf9</string>
</dict>
</plist>